/*--------------- basic styling --------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #000516 !important;
  color: #fff !important;
  scroll-behavior: smooth;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0rem ;
  font-weight: 500;
  line-height: 0.8 !important;
}

#home, #timeline, #events, #faq, #sponsors, #previous-sponsors{
  scroll-margin: 30px;
  font-family: Space Grotesk;
font-style: normal;
font-weight: bold;
color: #C1CAE8;

}

.squabble, .inquisitive, .technopreneur, .QB, .labyrinth, .nexus {
  align-items: center;
}

.primary-title{
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;

}
.about-text{
  font-family: 'Inter', sans-serif;
  font-weight: 100;

}
/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  height: 80px;
  position: fixed;
  z-index: 1;
}

.black {
  background:    
    linear-gradient(#fff,#fff) 0 100px/100% 100% no-repeat fixed,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 100px, red 0) center/100% 100%;
  height: 80px;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;

}

nav #menu{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
  text-align: center;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
  text-decoration: none; 

}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- hero section --------------- */
.test-header {
  background: url(./Image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.outline{
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
  font-size: 60px;
  font-family: 'Space Grotesk', sans-serif;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
  }
}

/*--------------- projects section --------------- */

.row:nth-child(even) {
  flex-direction: row-reverse;
}

.row:nth-child(even) .col-lg-7.project.project1.wow.fadeInUp {
  transform: rotateY(180deg);
}

.col-lg-3{
  margin:  auto 0;
}

h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.squabble {
  background: url('./Image/Squabble\ bg.png') no-repeat 50% 50%;
  background-size: cover;
}



.inquisitive {
  background: url('./Image/inqus.png') no-repeat 50% 50%;
  background-size: cover;
}



.technopreneur {
  background: url('./Image/technopreneur.png') no-repeat 50% 50%;
  background-size: cover;
}



.QB {
  background: url('./Image/QB.png') no-repeat 50% 50%;
  background-size: cover;
}


.nexus {
  background: url('./Image/nexus.png') no-repeat 50% 50%;
  background-size: cover;
}



.labyrinth {
  background: url('./Image/Labyrinth.png') no-repeat 50% 50%;
  background-size: cover;
}/* ______________________sponsors_____________________ */
.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
}
#sponsors{
  margin-top: 104px;
  margin-bottom: 104px;

}
#previous-sponsors{
  margin-top: 104px;
  margin-bottom: 104px;

}
.sponsor-container .card p {
  font-family:'Space Grotesk', sans-serif;
  margin-top: 5px;
}
.sponsor-container{
  justify-content: space-around;
  flex-direction: row !important;
  align-items: center;
}

.card{
  background-color: transparent !important;
  border: none !important;
  align-items: center;
}

/*--------------- footer section --------------- */
/* .collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
} */

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}



#media,
#contact-info {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab,
  #explore,
  #media,
  #contact-info {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

/*--------------- work page --------------- */

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

/*---------------about page --------------- */

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80)
    no-repeat 50% 70%;
}

/*--------------- contact form --------------- */

#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  background: #dfdfdf;
  color: #101010;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}

/*--------------- project page --------------- */

.prev,
.next p {
  color: grey;
}

.prev p {
  text-align: left;
}

.next p {
  text-align: right;
}

/************HERO SECTION************/
.countdown {
  font-family:'Space Grotesk', sans-serif;
  font-style: normal;
  margin-top: -150px;
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 10px;
  }

/*********** TIMELINE **********/
.bg{
  background-color: transparent;
  padding-top: 50px;
}

.timeline-heading{
  background-color: transparent;
  text-align: center;
	color: #C1CAE8;
	font-size: 2.0rem;
}
.container-timeline {
  min-height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

}
.timeline {
  width: 80%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom:40px;
 
}

.timeline ul {
  padding: 0;
  list-style: none;
}
.timeline ul li {
  
  background:transparent;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  /* color:#C1CAE8; */
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
/* .timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border:2px solid rgba(255, 255, 255, 0.75);
  padding: 10px;
  margin-top: 20px;
} */
.timeline-content .date{
  margin-bottom: 20px;
}
.date{
  color:#535A71;
  font-weight:light
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 20px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C1CAE8;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(150%, -50%);
    right: -10px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(50%, -50%);
    left: -50px;
  }
  .timeline-content{ 
    margin-bottom: 30px;
    margin-top: -30px;
  }
  .timeline-content h1{
    margin-top: 15px;
  }
 
  
 
}
@media (max-width:768px){
  .vl {
    border-left: 3px solid gray;
    height: 390px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(50%, -50%);
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C1CAE8;
    left: -18px;
    margin-top: 5px;
    
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C1CAE8;
    left: -18px;
    margin-top: 5px;
    
  }
  .timeline{
    margin-left: 15px;
  }
}

/*************** FAQ **************/


.faq{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;justify-content: center;
}
.faq img {
  width: 80%;
  height: 80%;
  margin-left: 20px;
 
}

.faq-heading{
	text-align: center;
	font-size: 2.0rem;
	color: #C1CAE8;
}

.accordion {
	width: 90%;
	max-width: 1000px;
	margin: 2rem auto;
	background-color: transparent;

}

.accordion-item-faq{
	background-color: transparent ;
	color: #C1CAE8;
	margin: 1rem 0;
  font-weight: normal;
	/* border:transparent; */
  

}

.accordion-item-header {
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 3.5rem;
	line-height: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	color:#FFFFFF;
	background-color: transparent;
  border:#fff solid 1px;
 
  ;
}
.accordion-item-body-content{
  background-color: transparent;
  border-radius: 20px;
}

.accordion-item-header::after {
	content: "\002B";
	font-size: 2rem;
	position: absolute;
	right: 1rem;
}

.accordion-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out; 
}

.accordion-item-body-content {
	padding: 1rem;
	line-height: 1.5rem;

}

@media(max-width:768px) {
  .squabble, .inquisitive, .technopreneur, .QB, .labyrinth, .nexus {
    background-size: 800px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .project{
    height: 300px;
  }
  .countdown{
    font-size: 30px;
}
}

@media(max-width:320px) {
  .countdown{
      padding-top: 0px;
      font-size: 15px;
  }
  .squabble, .inquisitive, .technopreneur, .QB, .labyrinth, .nexus {
    background-size: 600px;
    margin-top: -90px;
  }
  .card{
    margin-bottom: 20px !important;
  }
  
 
}
/* á¸·ogo */
.logo{
  max-width: 70px;
  max-height: 70px;
}
.social-links li a{
text-decoration: none;
}


.Event-heading{
  margin-bottom: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: #C1CAE8;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.Event-para{
  color: #535A71;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.Event-button button a{
  text-decoration: none;
  color: #fff;
  
}
.Event-button{
  display: flex;
 justify-content: center;
}
.Event-button button a{
  font-size: 18px;
}
.Event-button .btn{
background: linear-gradient(90.78deg, #331465 8.47%, #1C0245 97.06%);
box-shadow: 0px 12px 54px #0B001D;
border-radius: 5px;
}
.Event-button .btn:hover a{
  text-decoration: none;
  
}
/* Event hover button  */
.draw-border {
  box-shadow: inset 0 0 0 4px #1d2223;
  color: #1d2223;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.draw-border::after {
  border-top-width: 1px;
  border-right-width: 1px;
}
.draw-border:hover {
  color: #FFF;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #FFF;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}


/* navbar hover */
.menu li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.menu li:hover::after {
  width: 55%;
  height: 1px;
  background-color: #fff;
}
.menu li a:hover::after{
  color: #1d2223;
}


/* Footer  */
#explore h3{
  margin-bottom: 30px;
  color:#C1CAE8;
  font-size: 20px;
}
#explore h4{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  
}
#explore h4 a {
  color: #535A71;
  text-decoration: none;
}
.social-links {
  margin-top: 30px;
  display: flex;
  text-align: center;
}
.social-links li ,.social-links li a {
  list-style: none;
  text-align: center;
  
}
.follow-us ul{
  width: 110%;
  margin: auto;
}

#explore h3, .follow-us , .Reach-us{
  text-align: center;
  color:#C1CAE8;
  margin-bottom: 30px;
  font-size: 20px;
}
#explore h4{
  text-align : center;
}
#contact-info h4{
  
 width:67%;
 color: #535A71;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.copyright{
  font-size: 15px;
  color: #535A71;
  text-align: center;
}
.social-links li img{
  background-color:#000516 ;
}
.social-links img:hover{
  /* box-shadow: 0px 1px 100px 0px #fff; */
  /* background-color:#fff */
  border: #fff solid 1px;
  border-radius:5px;
}
@media (max-width:768px){
  .social-links li a img {
    margin-left: -10px;
  }
  
  .social-media ul{
    width: 60%;
    margin: auto;
  }
  .Reach-us{
    margin-left: 20px;
  }
  
}
@media (max-width:988px){
  
  #explore h3{
    text-align: center;
  }
  #explore h4{
    text-align: center;
  }
  .follow-us ul{
    width:64%;
  }
  .social-links li{
    width: 65%;
    margin: auto;
  }
  #contact-info h4{
    width: 21%;
    margin: auto;
    padding-top: 10px;
  }
}
@media (max-width:441px){
  .social-links li{
    margin-left: 0px;
  }
  
  .social-links li a img {
    margin-left: -20px;
  }
  .social-media ul {
    width: 79%;
    margin: auto;}

  #contact-info h4{
   width: 42%;
    margin: auto;
    padding-top: 10px;
  }
}