@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./Images/Night.png');
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  padding-top: 60px;
}

.primary-title{
  font-family: url('./Fonts/Integral-CF-20211009T173813Z-001/Integral-CF/OTF/IntegralCF-Medium.otf');
  margin-bottom: 40px;
  color: black;
  text-align: center;
  font-weight: 600;
}
/* 
.secondary-title{
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 600;
} */

.hero-form {
  width: 60%;
  background:#ffffffd8;
  padding: 30px;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 100px;
  @media(min-width:320px){
    width: 90%;
  }
}

.form{
  width: 90%;
  padding-bottom: 50px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #475BDE;
  padding-top: 30px;
  margin-top: 30px;
}

.form-component{
  margin-bottom: 30px;
}

.form-control{
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid !important;
  padding: 5px 0px !important;
  border-radius: 0 !important;
}

.form-control:focus{
  box-shadow: none !important;
}

.label{
  margin-bottom: 0 !important;
  font-weight: 500;
  font-size: 18px;
}

/* ______________event info______________ */
.eventdesc{
  display: flex;
}

.eventimg img{
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.desc{
  padding-left: 20px;
}

.eventtitle{
  font-size: 20px;
  font-weight: bold;
}

.button-group{
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-primary{
  width: 200px;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
  background: #475BDE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media(max-width:768px){
  .hero-form{
    width: 80%;
    padding: 20px;
  }

  .form{
    width: 95%;
    padding-bottom: 20px;
  }
}

@media(max-width:320px){
  .primary-title{
    margin-bottom: 15px;
    font-size: 24px;
  }
  .hero-container{
    padding-top: 20px;
  }
  .hero-form{
    width: 90%;
    padding: 20px;
  }

  .form{
  padding-bottom: 30px;
  width: 100%;
  }

  .eventdesc{
    flex-direction: column;
  }

  .eventimg img{
    width: 248px;
  }

  .eventtitle{
    text-align: center;
  }

  .desc{
    padding: 0;
    margin: 15px 0 0 0;
  }
}